@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

*
{
	margin: 0;
	padding: 0;
}

body
{
	background: #eeeeee;
}

button
{
    background-color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    font-size: 16px; 
    font-weight: 250;
    font-style: italic;
    color: #ffffff;
    line-height: 25px;
    padding: 5px;
    border: 0;
    user-select: none;
    outline: none;
    background: rgb(0,0,0) linear-gradient(rgb(cc,66,00), rgb(99,33,00));                                           /* Цвет "cc"? */
    box-shadow: inset 0 -8px 4px rgba(0,0,0,0), inset 0 4px 8px rgba(0,0,0,0), inset 0 0 0 230px rgba(cc,66,00,0);
    transition: box-shadow .2s, border-color .2s;
}

button:hover
{
    cursor: pointer;
    box-shadow: inset 0 -4px 4px rgba(0,0,0,0), inset 0 4px 8px rgba(0,0,0,0), inset 0 0 0 230px rgba(00,00,00,.1);
}

button:active
{
    box-shadow: inset 0 -2px 4px rgba(0,0,0,.3), inset 0 4px 8px rgba(0,0,0,.6), inset 0 0 0 230px rgba(00,00,00,.15);
}

.header
{
	min-width: 1300px;
    height: 80px;
    background: linear-gradient(to right, #555555, #111111);
    margin: auto;
}

.header h1
{
    text-align: left;
    color: #000000;
    font-size: 30px;
    font-weight: 350;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
}

.header i
{
    color: #ffffff;
}

.button-header
{
	min-width: 1300px;
	height: 35px;
	background-color: #333333;
    background: linear-gradient(to top, #777777, #333333);
	margin: 0 auto;
}

.button-header button
{
    position: relative;
    float: right;
    width: 180px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 1px;
}

.button-open
{
    right: 100px;
    /* margin-right: 100px; */
}

.content
{
    min-width: 1300px;
    min-height: calc(150vh);
    background: #eeeeee;
    margin: auto;
}

.book-panel
{
	min-width: 1000px;
    background: #eeeeee;
    margin-left: 100px;
    margin-right: 100px;
}

.book
{
    position: relative;
    height: 180px;
    padding-top: 25px;
    margin-bottom: 38px;
}

.book hr
{
    position: relative;
    /* width: 90%; */
    /* left: 5%; */
    margin-top: 20px;
}

.book-header
{
	display: table-cell;
	width: 15%;
    height: 180px;
    background-color: #eeeeee;
}

.book-header img
{
    position: absolute;
    height: 200px;
    width: 140px
}

/*
.book-cover
{
    height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}
*/

.book-content
{
    display: table-cell;
    width: 60%;
    height: 180px;
    background-color: #ffffff;
    border-radius: 5px;
    padding-left: 60px;
}

.book-content h3
{
    position: relative;
    top: 25px;
    width: 100%;
    text-align: left;
    color: #2e353d;
    font-size: 22px;
    font-weight: 500;
    padding: 2px;
}

.book-content h4
{
    position: relative;
    top: 25px;
    width: 100%;
    text-align: left;
    color: #2e353d;
    font-size: 18px;
    font-weight: 250;
    padding: 2px;
}

.book-footer
{
	display: table-cell;
	width: 10%;
    height: 180px;
    background: linear-gradient(to top, #cccccc, #aaaaaa);
    border-radius: 5px;
    padding: 7px;
}

.book-footer button
{
    position: relative;
    width: 150px;
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: 13px;
    margin-bottom: 23px;
    border-radius: 5px;
}

.button-edit
{
    top: 55px;
    left: 8px;
}

.button-delete
{
    top: 40px;
    left: 8px;
}

.modal
{
	display: none;
	position: fixed;
	width: 100%;
    height: calc(150vh);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content
{
	position: relative;
	height: 450px;
	width: 600px;
	background-color: #444444;
	margin-top: 10%;
	margin-left: 30%;
	padding-top: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	box-sizing: box-shadow;
	border-radius: 5px;
}

.close
{
	position: relative;
	bottom: 12px;
	left: 550px;
	color: #eeeeee;
	font-size: 25px;
	font-weight: bold;
}

.close:hover
{
	color: #111111;
	text-decoration: none;
	cursor: pointer;
}

.modal-header
{
	background-color: #eeeeee;
    padding-left: 50px;
    padding-right: 50px;
}

.modal-header h4
{
    width: 100%;
    text-align: left;
    color: #2e353d;
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
	padding-top: 20px;
    padding-bottom: 25px;
    padding-left: 10px;
}

.modal-body
{
	background-color: #eeeeee;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.form-label
{
    text-align: left;
    color: #2e353d;
    font-size: 16px;
    font-weight: 500;
    padding: 3px;
    margin: 7px;
}

.form-control
{
    width: 80%;
    text-align: left;
    color: #2e353d;
    font-size: 14px;
    font-weight: 400;
    padding: 5px;
    margin: 7px;
    border: 1px;
	border-radius: 5px;
}

.form-year
{
    width: 10%;
    text-align: left;
    color: #2e353d;
    font-size: 14px;
    font-weight: 400;
    padding: 5px;
    margin: 7px;
    border: 1px;
	border-radius: 5px;
}

.form-cover
{
    width: 80%;
    text-align: left;
    color: #2e353d;
    font-size: 14px;
    font-weight: 400;
    padding: 5px;
    margin: 7px;
    border: 1px;
	border-radius: 5px;
}

.modal-footer
{
	background-color: #eeeeee;
    padding-left: 50px;
    padding-right: 50px;
}

.modal-footer button
{
    display: inline-block;
    position: relative;
    width: 150px;
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: 13px;
    margin-bottom: 23px;
    border-radius: 5px;
}

.button-save
{
	left: 5px;
}

.button-close
{
	left: 10px;
}

.footer
{
    width: 100%;
    height: 140px;
    background: linear-gradient(to top, #434445, #111111);
    text-align: left;
    color: #a4a4a4;
    font-size: 13px;
    font-weight: 100;
    line-height: 18px;
}

.footer-copyright
{
    position: relative; 
    float: left;
    top: 37px;
    left: 80px;
}

.footer-contacts
{
    position: relative; 
	float: right;
    top: 55px; /* Изменить */
    right: 100px;
}